@import "themes/ef-maris-dark.css";


* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Ubuntu, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: @bg_main;
    color: @fg_main;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @fg_main;
}
window#waybar.termite {
    background-color: @bg_alt;
}

window#waybar.chromium {
    background-color: @bg_main;
    border: none;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @accent;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg_main;
}

#workspaces button:hover {
    background: alpha(@bg_inactive, 0.7);
    box-shadow: inset 0 -3px @border;
}

#workspaces button.active {
    background-color: alpha(@bg_selection, 0.3);
    color: @fg_main;
    box-shadow: inset 0 -3px @accent;
}

#workspaces button.focused {
    background-color: @bg_inactive;
    box-shadow: inset 0 -3px @warning;
}

#workspaces button.urgent {
    background-color: @error_warm;
    color: @bg_main;
}

#mode {
    background-color: @bg_inactive;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @fg_main;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @bg_main;
}

#battery {
    background-color: @bg_main;
    color: @fg_main;
}

#battery.charging, #battery.plugged {
    background-color: @bg_main;
    color: @success;
}

@keyframes blink {
    to {
        background-color: @fg_main;
        color: @bg_main;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @bg_main;
    color: @error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @bg_main;
    color: @error;
}

#power-profiles-daemon.balanced {
    background-color: @bg_main;
    color: @warning;
}

#power-profiles-daemon.power-saver {
    background-color: @bg_main;
    color: @success;
}

label:focus {
    background-color: @bg_inactive;
}

#cpu {
    background-color: @bg_main;
    color: @fg_main;
}

#memory {
    background-color: @bg_main;
}

#disk {
    background-color: @bg_main;
}

#backlight {
    background-color: @bg_main;
}

#network {
    background-color: @bg_main;
}

#network.disconnected {
    background-color: @bg_main;
    color: @error;
}

#pulseaudio {
    background-color: @bg_main;
    color: @fg_main;
}

#pulseaudio.muted {
    background-color: @bg_main;
    color: @error;
}

#wireplumber {
    background-color: @bg_main;
    color: @fg_main;
}

#wireplumber.muted {
    background-color: @bg_main;
}

#custom-media {
    background-color: @bg_main;
    color: @success;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @bg_success;
}

#custom-media.custom-vlc {
    background-color: @bg_warning;
    color: @warning_warm;
}

#temperature {
    background-color: @bg_main;
}

#temperature.critical {
    background-color: @bg_error;
}

#tray {
    background-color: @bg_main;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @bg_main;
}

#idle_inhibitor {
    background-color: @bg_main;
}

#idle_inhibitor.activated {
    background-color: @attention;
    color: @bg_main;
}

#mpd {
    background-color: @bg_success;
    color: @fg_main;
}

#mpd.disconnected {
    background-color: @bg_error;
}

#mpd.stopped {
    background-color: @bg_active;
}

#mpd.paused {
    background-color: @success_alt;
    color: @bg_main;
}

#language {
    background: @accent;
    color: @bg_main;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @success;
    color: @bg_main;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: alpha(@bg_main, 0.2);
}

#scratchpad {
    background: alpha(@bg_main, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @fg_main;
}

#privacy-item.screenshare {
    background-color: @error_warm;
}

#privacy-item.audio-in {
    background-color: @success;
    color: @bg_main;
}

#privacy-item.audio-out {
    background-color: @accent;
    color: @bg_main;
}
